<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <script src="https://unpkg.com/vue"></script>
      <script src="lessons.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
      <link rel="stylesheet" type="text/css" href="styleSheet.css">
      
  </head>

  <body>
    <div id="app"> 

      <div v-if="showCheckout != true">

        <div>
          <button v-if='showCart == true' @click="openCheckout()"><span class="fas fa-cart-plus"></span>Cart: {{countCart}}</button>
          <button disabled="true" v-else><span class="fas fa-cart-plus"></span>Cart: {{countCart}}</button>
        </div> 
    
        <div id = "controls">
          <br>
          <form>
              <input type="radio" id="subject" name="sort" value="subject" v-model="sortLessons.attribute">
              <label for="subject">Subject</label><br>
              <input type="radio" id="location" name="sort" value="campus" v-model="sortLessons.attribute">
              <label for="location">Location</label><br>
              <input type="radio" id="price" name="sort" value="price" v-model="sortLessons.attribute">
              <label for="price">Price</label><br>
              <input type="radio" id="avail" name="sort" value="availability" v-model="sortLessons.attribute">
              <label for="avail">Availability</label><br>
    
            <br>
    
              <input type="radio" id="asc" name="order" value="asc" v-model="sortLessons.order">
              <label for="huey">Ascending</label><br>
              <input type="radio" id="desc" name="order" value="desc" v-model="sortLessons.order">
              <label for="huey">Descending</label><br>
          </form>
        </div>
          
        <div id = "lessonList">
          <ul>
            <li v-for="lesson in sortedPrice"> 
              <img v-bind:src="lesson.image"> 
              <h1>{{lesson.subject}}</h1>
              <p>Campus: {{lesson.campus}}</p>
              <p>Price: £{{lesson.price}}</p>
              <p>Spaces: {{lesson.spaces}}</p>
              <button @click='addItem(lesson)' :disabled='!countSpaces(lesson)'>Add Lesson</button>
            </li>
          </ul>
        </div>

      </div>
      <div v-else> <!-- Code for the Checkout Functionality-->
        <div>
          <button v-if='showCart == true' @click="openCheckout()"><span class="fas fa-cart-plus"></span>Cart: {{countCart}}</button>
          <button disabled="true" v-else><span class="fas fa-cart-plus"></span>Cart: {{countCart}}</button>
        </div>
        
        <br>

        <div id = "controls">
          <form> 
            <p>Please enter your details</p>
            <label for="fname">Name</label><br>
            <input v-model="order.firstName"><br>
            <label for="avail">Phone Number</label><br>
            <input v-model="order.phoneNo"><br>
            <button type="submit" @click='placeOrder()' :disabled='!verifyDetails'>Place Order</button>
          </form>
          
        </div>

        <ul>
          <li v-for="lesson in getLessons()"> 
            <img v-bind:src="lesson.image"> 
            <h1>{{lesson.subject}}</h1>
            <p>Campus: {{lesson.campus}}</p>
            <p>Price: £{{lesson.price}}</p>
            <p>Spaces: {{lesson.spaces}}</p>
            <button @click='removeItem(lesson.id)'>-</button>
          </li>
        </ul>

      </div> <!--closing tag for v-else of show product (End of Checkout code) -->
    </div>
  </body>

  <script>
    let app = new Vue({
        el: '#app',
        data: {
          lesson: lessons,
          showCart: false,
          showCheckout: false,
          cart: [],
          order: {
            firstName: '',
            phoneNo: ''
          },
          sortLessons: {
            attribute: 'subject',
            order: 'asc'
          }
        },
        methods: {
          addItem(lesson){
            if(lesson.spaces > 0){
              lesson.spaces -= 1
              this.cart.push(lesson.id)
            }
          },
          removeItem(id){
            for(let i = 0; i < this.cart.length; i++){
              if(id === this.cart[i]){
                this.cart.splice(i, 1);
                break;
              }
            }
            for(let i = 0; i < this.lesson.length; i++){
              if(id === this.lesson[i].id){
                this.lesson[i].spaces += 1
              }
            }
          },
          countSpaces(lesson){
            return lesson.spaces != 0
          },
          openCheckout(){
            this.showCheckout = this.showCheckout ? false : true;
          },
          placeOrder(){
            alert('Order Complete!');
          },
          getLessons(){
            let lessonDetails = []
            for (let id of this.cart){
              for (let _lesson of this.lesson){
                if(id === _lesson.id){
                  lessonDetails.push(_lesson)
                }
              }
            }
            return lessonDetails;
          }
        },
        computed: {
          countCart(){
            if (this.cart.length > 0){
              this.showCart = true;
            } else {
              this.showCart = false;
              this.showCheckout = false;
            }
            return this.cart.length;
          },
          sortedPrice(){
            let sortOrder = this.sortLessons.order
            
            if(this.sortLessons.attribute == "subject"){
              lessons.sort(compareSubject);
            } else if(this.sortLessons.attribute == "campus"){
              lessons.sort(compareCampus);
            } else if(this.sortLessons.attribute == "price"){
              lessons.sort(comparePrice); 
            } else {
              lessons.sort(compareSpaces); 
            }

            if(this.sortLessons.order == "asc"){
              return lessons
            } else {
              return lessons.reverse();
            }

            function compareSubject(a, b){
              let x = a.subject.toLowerCase();
              let y = b.subject.toLowerCase();
              if (x < y) {return -1;}
              if (x > y) {return 1;}
              return 0;
            }

            function compareCampus(a, b){
              let x = a.campus.toLowerCase();
              let y = b.campus.toLowerCase();
              if (x < y) {return -1;}
              if (x > y) {return 1;}
              return 0;
            }

            function comparePrice(a, b,){
              if(a.price > b.price) return 1;
              if(a.price < b.price) return -1;
              return 0;
            }

            function compareSpaces(a, b,){
              if(a.spaces > b.spaces) return 1;
              if(a.spaces < b.spaces) return -1;
              return 0;
            }

          },
          verifyDetails(){
            let onlyLetters = /^[a-zA-Z]+$/
            let onlyNumbers = /^[0-9]*$/

            if(this.order.phoneNo.length == 11 && onlyNumbers.test(this.order.phoneNo) == true && onlyLetters.test(this.order.firstName) == true){
              return true;
            } else
            return false;
          }
        }
    })  
  </script>
</html>