<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="lessons.js"></script>
    <link rel="stylesheet" type="text/css" href="styleSheet.css">
    
</head>

<body>
    <div id="app"> 
      <button v-if='showCheckout == true'>checkout: {{countCart}}</button>
      <button disabled="true" v-else>checkout: {{countCart}}</button>
        <ul>
          <li v-for="lesson in sortedLessons"> 
                <img v-bind:src="lesson.image"> 
                <h1>{{lesson.subject}}</h1>
                <p>Campus: {{lesson.campus}}</p>
                <p>Price: £{{lesson.price}}</p>
                <p>Spaces: {{lesson.spaces}}</p>
                <button @click='addItem(lesson)' :disabled='!countSpaces(lesson)'>Add Lesson</button>
           </li>
        </ul>
    </div>
</body>

<script>
  let app = new Vue({
      el: '#app',
      data: {
        lesson: lessons,
        showCheckout: false,
        cart: []
      },
      methods: {
        addItem(lesson){
          if(lesson.spaces > 0){
            lesson.spaces -= 1
            this.cart.push(lesson.id)
          }
        },
        countSpaces(lesson){
          return lesson.spaces != 0

          }
      },
      computed: {
        countCart(){
          if (this.cart.length > 0){
            this.showCheckout = true;
          } else {
            this.showCheckout = false;
          }
          return this.cart.length;
        },
        sortedLessons(){
          function  compare(a, b){
            if(a.price > b.rpice) return 1;
            if(a.price < b.price) return -1;
            return 0;
          }
          return lessons.sort(compare);
        }
      }
  })  
</script>
</html>