#controls{
    float: left;
    height: 1000px;
}

#lessonlist{
    float: left;
}
ul {
    margin: 0 auto;
    text-align: center;
}

li {
    display: inline-block;
    vertical-align: top;
    background-color: lightblue;
    border: 15px solid white;
    width: 20%;
    height: 20%;
}

img{
    width: 100px;
    height: 70px;
}